@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CriticalPath.Data.Resources
@model SizeCaption
@{
    ViewBag.Title = EntityStrings.SizeCaption;
}

<h2>@EntityStrings.SizeCaption @ActionStrings.Details</h2>

<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.DisplayOrder)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.DisplayOrder)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.Caption)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.Caption)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.SizeStandard)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.SizeStandard)
    </div>
</div>
@Html.Partial("_DetailFormButtonsPartial")
