@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CP.i8n
@model PurchaseOrderVM

<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.SizingStandard)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.SizingStandard.Title)
    </div>
    <div class="col-lg-6 col-md-7 col-sm-8">
        @foreach (var sizing in Model.SizingStandard.Sizings)
        {
            <div class="col-xs-2 shadedRoundCaption">@sizing.Caption</div>
        }
    </div>
</div>
<div class="row mt20">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.SizeRates)
    </label>
    <div class="col-lg-6 col-md-7 col-sm-8">
        @foreach (var rate in Model.SizeRates)
        {
            <div class="col-xs-2">
                <div class="shadedRoundCaption" style="width:100%;">@rate.Caption</div>
                <div class="text-center" style="width:100%;">@rate.Rate</div>
            </div>
        }
        <div class="col-xs-1 mr4">&nbsp;</div>
        <div class="col-xs-3 shadedRoundCaption fontSize125pc">
            @Html.DisplayFor(m => m.SizeRatioDivisor)
        </div>
    </div>
</div>