@using CP.i8n
@using CriticalPath.Web.Models
@model PurchaseOrderCreateVM
@{
    Layout = null;
}
<div class="form-group">
    @Html.LabelFor(m => m.ProductCode, htmlAttributes: new { @class = "control-label col-lg-2 col-md-3 col-sm-3" })
    <div class="col-lg-5 col-md-6 col-sm-7">
        @Html.EditorFor(m => m.ProductCode, new
   {
       htmlAttributes = new
       {
           @class = "form-control ui-autocomplete-input",
           autocomplete = "off",
           data_url = Url.Action("GetProductsWithPrice", "Products")
       }
   })
        @Html.HiddenFor(m => m.ProductId)
        @Html.ValidationMessageFor(m => m.ProductId, "", new { @class = "text-danger" })
        @Html.ValidationMessageFor(m => m.ProductCode, "", new { @class = "text-danger" })
    </div>
</div>
<script type="text/javascript">
    $('#ProductCode').autocomplete({
        minLenght: 1,
        delay: 500,
        source: function (request, response) {
            var url = $(this.element).data('url');
            $.getJSON(url, { searchString: request.term, pageSize: 20 }, function (data) {
                response(data);
            });
        },
        select: function (event, ui) {
            var productId = ui.item.id;
            $('#ProductId').val(productId);

            $('#UnitPrice').val(fixDecimalVal(ui.item.UnitPrice));
            setSelectListID('#SellingCurrencyId > option', ui.item.SellingCurrencyId);
            $('#BuyingPrice').val(fixDecimalVal(ui.item.BuyingPrice));
            setSelectListID('#BuyingCurrencyId > option', ui.item.BuyingCurrencyId);
            $('#RoyaltyFee').val(fixDecimalVal(ui.item.RoyaltyFee));
            setSelectListID('#RoyaltyCurrencyId > option', ui.item.RoyaltyCurrencyId);
            $('#RetailPrice').val(fixDecimalVal(ui.item.RetailPrice));
            setSelectListID('#RetailCurrencyId > option', ui.item.RetailCurrencyId);
            console.log('select');

            if (productId != null && productId != '') {
                $.getJSON('/Suppliers/GetSupplierList', { productId: productId, pageSize: 100 }, function (suppliers) {
                    var targetSelect = $('#SupplierId');
                    targetSelect.empty();
                    targetSelect.append($('<option/>', {
                        value: '',
                        text: '@Html.Raw(ActionStrings.SelectPlease)'
                    }));
                    $.each(suppliers, function (index, supplier) {
                        targetSelect.append($('<option/>', {
                            value: supplier.Id,
                            text: supplier.CompanyName
                        }));
                    });
                });
            }
        },
        change: function (event, ui) {
            if (ui.item==null) {
                $(event.target).val('');
                $('#ProductId').val('');
            }
        },
        open: function (event, ui) {
            var boxWidth = $('#ProductCode').outerWidth();
            var minWidth = 300;
            $(this).autocomplete("widget")
                .css({ "width": (boxWidth > minWidth ? boxWidth : minWidth) })
                .addClass('fontSize80pc');
        }
    });
</script>
