@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CP.i8n
@model PurchaseOrderVM
@{
    ViewBag.Title = ActionStrings.Approve;
}
<h2 class="mb20">@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-lg-2 col-md-3 col-sm-3">
                @Html.DisplayNameFor(model => model.OrderDate)
            </label>
            <div class="col-sm-9 fontSize125pc mt10 mb10">
                @Html.DisplayFor(m => m.OrderDate)
            </div>
        </div>
        @Html.Partial("_PoPartialEdit")
        <div class="form-group">
            <label class="control-label col-lg-2 col-md-3 col-sm-3">
                @Html.DisplayNameFor(model => model.DueDate)
            </label>
            <div class="col-lg-5 col-md-6 col-sm-7">
                @Html.EditorFor(m => m.DueDate)
            </div>
        </div>
        <div class="row mt40">
            <label class="control-label col-lg-2 col-md-3 col-sm-3">
                @Html.DisplayNameFor(model => model.IsApproved)
            </label>
            <div class="col-md-8 col-sm-8">
                @Html.EditorFor(m => m.IsApproved)
            </div>
        </div>
        <div class="row mt20">
            <div class="col-lg-offset-2 col-md-offset-3 col-sm-offset-3 col-md-3 col-sm-4">
                <input type="submit" value='@ActionStrings.Approve' class="btn btn-lg btn-success" />
            </div>
            <div class="col-md-3 col-sm-3">
                @Html.ActionLink(@ActionStrings.BackToIndex, "Index", null, new { @class = "btn btn-lg btn-warning pull-right" })
            </div>
        </div>
    </div>
}