@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CriticalPath.Data.Resources
@model ProductCategory
@{
    ViewBag.Title = EntityStrings.ProductCategory;
}

<h2>@EntityStrings.ProductCategory @ActionStrings.Details</h2>

<div class="row">
    <label class="control-label col-md-2">
        @Html.DisplayNameFor(model => model.Title)
    </label>
    <div class="col-md-10">
        @Html.DisplayFor(m => m.Title)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2">
        @Html.DisplayNameFor(model => model.Code)
    </label>
    <div class="col-md-10">
        @Html.DisplayFor(m => m.Code)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2">
        @Html.DisplayNameFor(model => model.Description)
    </label>
    <div class="col-md-10">
        @Html.DisplayFor(m => m.Description)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2">
        @Html.DisplayNameFor(model => model.ParentCategory)
    </label>
    <div class="col-md-10">
        @Html.DisplayFor(m => m.ParentCategory)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2">
        @Html.DisplayNameFor(model => model.SubCategories)
    </label>
    <div class="col-md-10">
        @Html.DisplayFor(m => m.SubCategories)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2">
        @Html.DisplayNameFor(model => model.Products)
    </label>
    <div class="col-md-10">
        @Html.DisplayFor(m => m.Products)
    </div>
</div>
@Html.Partial("_DetailFormButtonsPartial")
