@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CP.i8n
@model CustomerDepartment
@{
    ViewBag.Title = EntityStrings.CreateCustomerDepartment;
}
<h2 class="col-lg-offset-2 col-md-offset-3 col-sm-offset-3">@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CustomerId)

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerId, htmlAttributes: new { @class = "control-label col-lg-2 col-md-3 col-sm-3" })
            <div class="col-lg-5 col-md-6 col-sm-7">
                @Html.TextBox("CustomerName", Model.Customer.CompanyName, new { @class = "form-control", autocomplete = "off", @readonly = "readonly" })
                @Html.ValidationMessageFor(m => m.CustomerId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DepartmentName, htmlAttributes: new { @class = "control-label col-lg-2 col-md-3 col-sm-3" })
            <div class="col-lg-5 col-md-6 col-sm-7">
                @Html.TextBoxFor(m => m.DepartmentName, new { @class = "form-control", autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.DepartmentName, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.Partial("_SaveButtonsPartial")
    </div>
}
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
