@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CP.i8n
@model Product
@{
    ViewBag.Title = EntityStrings.Product;
}

<h2>@EntityStrings.Product @ActionStrings.Details</h2>

<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.Category)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.Category)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.ProductCode)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.ProductCode)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.Description)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.Description)
    </div>
</div>
@Html.Partial("_DetailFormButtonsPartial")
