@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CP.i8n
@model POImageVM
@{
    ViewBag.Title = EntityStrings.CreatePOImage;
}
<h2 class="col-lg-offset-2 col-md-offset-3 col-sm-offset-3">@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.PurchaseOrderId)
        @Html.HiddenFor(model => model.DisplayOrder)

        <div class="form-group">
            @Html.LabelFor(model => model.PurchaseOrder, htmlAttributes: new { @class = "control-label col-lg-2 col-md-3 col-sm-3" })
            <div class="col-lg-5 col-md-6 col-sm-7">
                @Html.DisplayFor(m => m.PurchaseOrder)
            </div>
        </div>
     @*
        <div class="form-group">
            @Html.LabelFor(model => model.DisplayOrder, htmlAttributes: new { @class = "control-label col-lg-2 col-md-3 col-sm-3" })
            <div class="col-lg-5 col-md-6 col-sm-7">
                @Html.EditorFor(m => m.DisplayOrder, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                @Html.ValidationMessageFor(m => m.DisplayOrder, "", new { @class = "text-danger" })
            </div>
        </div>
        *@
        <div class="form-group">
            @Html.LabelFor(model => model.ImageTitle, htmlAttributes: new { @class = "control-label col-lg-2 col-md-3 col-sm-3" })
            <div class="col-lg-5 col-md-6 col-sm-7">
                @Html.EditorFor(m => m.ImageTitle, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                @Html.ValidationMessageFor(m => m.ImageTitle, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ImageUrl, htmlAttributes: new { @class = "control-label col-lg-2 col-md-3 col-sm-3" })
            <div class="col-lg-5 col-md-6 col-sm-7">
                @Html.Partial("_ImageUpload", new ImageUploadViewModel("ImageUrl", Model.ImageUrl))
                @Html.ValidationMessageFor(m => m.ImageUrl, "", new { @class = "text-danger" })
            </div>
        </div>

       <div class="form-group">
            <div class="col-lg-offset-2 col-md-offset-3 col-sm-offset-3 col-lg-3 col-md-3 col-sm-4 col-xs-4">
                <input type="submit" value='@ActionStrings.Save' class="btn btn-lg btn-primary" />
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4">
                @Html.ActionLink(ActionStrings.Details, "Details", "PurchaseOrders", new { Id=Model.PurchaseOrderId}, new { @class = "btn btn-lg btn-info pull-right" })
            </div>
        </div>
    </div>
}
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/libs/JavaScript-Load-Image/js/load-image.all.min.js"></script>
    <script src="~/libs/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
    <script src="~/libs/jQuery-File-Upload/js/jquery.iframe-transport.js"></script>
    <script src="~/libs/jQuery-File-Upload/js/jquery.fileupload.min.js"></script>
    <script src="~/libs/jQuery-File-Upload/js/jquery.fileupload-process.min.js"></script>
    <script src="~/libs/jQuery-File-Upload/js/jquery.fileupload-image.min.js"></script>
    <script src="~/libs/jQuery-File-Upload/js/jquery.fileupload-validate.min.js"></script>
}
