@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CP.i8n
@model POImage
@{
    ViewBag.Title = EntityStrings.POImage;

    //Authorization Flags
    bool canUserEdit = ViewBag.canUserEdit;
    bool canUserCreate = ViewBag.canUserCreate;
    bool canUserDelete = ViewBag.canUserDelete;
    bool canSeeRestricted = ViewBag.canSeeRestricted;
}

<h2>@EntityStrings.POImage @ActionStrings.Details</h2>

<div class="form-horizontal">
    <div class="row mb5">
        <label class="control-label col-md-2 col-sm-3 mb5">
            @Html.DisplayNameFor(model => model.PurchaseOrder)
        </label>
        <div class="col-lg-8 col-md-9 col-sm-9 mt10">
            @Html.DisplayFor(m => m.PurchaseOrder)
        </div>
    </div>
    <div class="row mb5">
        <label class="control-label col-md-2 col-sm-3 mb5">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </label>
        <div class="col-lg-8 col-md-9 col-sm-9 mt10">
            @Html.DisplayFor(m => m.ImageUrl)
        </div>
    </div>
    <div class="row mb5">
        <label class="control-label col-md-2 col-sm-3 mb5">
            @Html.DisplayNameFor(model => model.ImageTitle)
        </label>
        <div class="col-lg-8 col-md-9 col-sm-9 mt10">
            @Html.DisplayFor(m => m.ImageTitle)
        </div>
    </div>
    <div class="row mb5">
        <label class="control-label col-md-2 col-sm-3 mb5">
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </label>
        <div class="col-lg-8 col-md-9 col-sm-9 mt10">
            @Html.DisplayFor(m => m.DisplayOrder)
        </div>
    </div>
    @if (canSeeRestricted)
    {
    <div class="row mb5">
        <label class="control-label col-md-2 col-sm-3 mb5">
            @Html.DisplayNameFor(model => model.ModifiedUser)
        </label>
        <div class="col-lg-8 col-md-9 col-sm-9 mt10">
            @Html.DisplayFor(m => m.ModifiedUser)
        </div>
    </div>
    }
    @if (canSeeRestricted)
    {
    <div class="row mb5">
        <label class="control-label col-md-2 col-sm-3 mb5">
            @Html.DisplayNameFor(model => model.CreatedUser)
        </label>
        <div class="col-lg-8 col-md-9 col-sm-9 mt10">
            @Html.DisplayFor(m => m.CreatedUser)
        </div>
    </div>
    }
@Html.Partial("_DetailFormButtonsPartial")
</div>
