@using CriticalPath.Data.Resources
@model DateTime?
@{
    Layout = null;
    var noSelection = !Model.HasValue ? "active" : null;
    var htmlField = ViewData.TemplateInfo.HtmlFieldPrefix;
    var dtpName = "dtp" + htmlField;
    string dateString = Model.HasValue ? Model.Value.ToString("yyyy.MM.dd") : "";
    string viewMode = htmlField.ToLowerInvariant().Contains("birthday") ? ", defaultDate: -15y" : "";
}
<div class="input-group date col-lg-3 col-md-4 col-sm-5 col-xs-9" id="@htmlField-div" data-date="@dateString" data-date-format="yyyy.mm.dd" @viewMode>
    <input type="text" value="@dateString" id="@htmlField" name="@htmlField" class="form-control">
    @if (ViewData.ModelMetadata.IsNullableValueType)
    {
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" onclick="javascript:$('#@htmlField').val('');">@ActionStrings.Clear</button>
        </span>
    }
    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
</div>
<script>
   @dtpName = $('#@htmlField').datepicker({dateFormat: "yy.mm.dd" });
</script>
