@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CriticalPath.Data.Resources
@model IEnumerable<ProcessStep>
@{
    ViewBag.Title = @EntityStrings.ProcessSteps;

    //Authorization Flags
    bool canUserEdit = ViewBag.canUserEdit;
    bool canUserCreate = ViewBag.canUserCreate;
    bool canUserDelete = ViewBag.canUserDelete;

    //Records & Pager
    int pageNr = ViewBag.pageNr;
    int totalCount = ViewBag.totalCount;
    int pageSize = ViewBag.pageSize;
    int pageCount = ViewBag.pageCount;
}
<div class="row well">
    <div class="col-md-8 col-sm-7">
        <h4>@EntityStrings.ProcessSteps</h4>
    </div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "searchForm" }))
    {
        @Html.Hidden("pageNr", pageNr)
        <div class="col-md-4 col-sm-5">
            @Html.Partial("_SearchBoxPartial")
        </div>
    }
</div>
@if (totalCount > 0)
{
    <table class="table table-hover">
        <tr>
            <th>@ActionStrings.Action</th>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.IsCompleted)</th>
            <th>@Html.DisplayNameFor(model => model.Process)</th>
            <th>@Html.DisplayNameFor(model => model.TargetDate)</th>
            <th>@Html.DisplayNameFor(model => model.ForecastDate)</th>
            <th>@Html.DisplayNameFor(model => model.RealizedDate)</th>
            <th>@Html.DisplayNameFor(model => model.Template)</th>
            <th>@Html.DisplayNameFor(model => model.IsApproved)</th>
        </tr>
    @foreach (var item in Model)
    {
            <tr>
                <td>
                    <div class="btn-group">
                        <button type="button" title="@ActionStrings.Action" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-tasks"></span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink(ActionStrings.Details, "Details", new { id = item.Id })</li>
                            @if (canUserEdit)
                            {
                                <li>@Html.ActionLink(ActionStrings.Edit, "Edit", new { id = item.Id })</li>
                            }
                            @if (canUserDelete)
                            {
                                <li>
                                    <a href="#deleteConfirm" data-toggle="modal" onclick="setDelete('<b>@(item.Title)</b>', @item.Id);">
                                    @ActionStrings.Delete
                                </a>
                                </li>
                            }
                        </ul>
                    </div>
                </td>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.IsCompleted)</td>
                <td>@Html.DisplayFor(modelItem => item.Process)</td>
                <td>@Html.DisplayFor(modelItem => item.TargetDate)</td>
                <td>@Html.DisplayFor(modelItem => item.ForecastDate)</td>
                <td>@Html.DisplayFor(modelItem => item.RealizedDate)</td>
                <td>@Html.DisplayFor(modelItem => item.Template)</td>
                <td>@Html.DisplayFor(modelItem => item.IsApproved)</td>
            </tr>
    }
    </table>
    @Html.Partial("_PagerPartial")
    if (canUserDelete)
    {
        @Html.Partial("_MessageBoxPartial")
    }
}
else
{
    <h4>@MessageStrings.NoResults!</h4>
}
@section scripts{
    @Html.Partial("_IndexScriptsPartial", "ProcessSteps")
}