@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CP.i8n
@model ProcessTemplate
@{
    ViewBag.Title = EntityStrings.ProcessTemplate;
}

<h2>@EntityStrings.ProcessTemplate @ActionStrings.Details</h2>

<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.IsApproved)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.IsApproved)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.ApproveDate)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.ApproveDate)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.TemplateName)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.TemplateName)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.DefaultTitle)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.DefaultTitle)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.StepTemplates)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.StepTemplates)
    </div>
</div>
@Html.Partial("_DetailFormButtonsPartial")
