@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CriticalPath.Data.Resources
@model SizeStandard
@{
    ViewBag.Title = EntityStrings.SizeStandard;
}

<h2>@EntityStrings.SizeStandard @ActionStrings.Details</h2>

<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.Title)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.Title)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.SizeCaptions)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.SizeCaptions)
    </div>
</div>
@Html.Partial("_DetailFormButtonsPartial")
