@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CP.i8n
@model SizingStandardVM
@{
    string captionDivClass = "col-lg-3 col-md-3 col-sm-3 mb10";
}
@Html.LabelFor(model => model.Sizings, htmlAttributes: new { @class = "control-label col-lg-2 col-md-3 col-sm-3" })
<div class="col-lg-8 col-md-9 col-sm-9">
    <div class='@captionDivClass' style="margin-left:-15px;">
        @Html.EditorFor(m => m.Size1Caption, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", placeholder = "Size 1 Caption" } })
        @Html.ValidationMessageFor(m => m.Size1Caption, "", new { @class = "text-danger" })
    </div>
    <div class='@captionDivClass' style="margin-left:-15px;">
        @Html.EditorFor(m => m.Size2Caption, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", placeholder = "Size 2 Caption" } })
        @Html.ValidationMessageFor(m => m.Size2Caption, "", new { @class = "text-danger" })
    </div>
    <div class='@captionDivClass' style="margin-left:-15px;">
        @Html.EditorFor(m => m.Size3Caption, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", placeholder = "Size 3 Caption" } })
        @Html.ValidationMessageFor(m => m.Size3Caption, "", new { @class = "text-danger" })
    </div>
    <div class='@captionDivClass' style="margin-left:-15px;">
        @Html.EditorFor(m => m.Size4Caption, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", placeholder = "Size 4 Caption" } })
        @Html.ValidationMessageFor(m => m.Size4Caption, "", new { @class = "text-danger" })
    </div>
    <div class='@captionDivClass' style="margin-left:-15px;">
        @Html.EditorFor(m => m.Size5Caption, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", placeholder = "Size 5 Caption" } })
        @Html.ValidationMessageFor(m => m.Size5Caption, "", new { @class = "text-danger" })
    </div>
    <div class='@captionDivClass' style="margin-left:-15px;">
        @Html.EditorFor(m => m.Size6Caption, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", placeholder = "Size 6 Caption" } })
        @Html.ValidationMessageFor(m => m.Size6Caption, "", new { @class = "text-danger" })
    </div>
    <div class='@captionDivClass' style="margin-left:-15px;">
        @Html.EditorFor(m => m.Size7Caption, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", placeholder = "Size 7 Caption" } })
        @Html.ValidationMessageFor(m => m.Size7Caption, "", new { @class = "text-danger" })
    </div>
    <div class='@captionDivClass' style="margin-left:-15px;">
        @Html.EditorFor(m => m.Size8Caption, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", placeholder = "Size 8 Caption" } })
        @Html.ValidationMessageFor(m => m.Size8Caption, "", new { @class = "text-danger" })
    </div>
    <div class='@captionDivClass' style="margin-left:-15px;">
        @Html.EditorFor(m => m.Size9Caption, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", placeholder = "Size 9 Caption" } })
        @Html.ValidationMessageFor(m => m.Size9Caption, "", new { @class = "text-danger" })
    </div>
    <div class='@captionDivClass' style="margin-left:-15px;">
        @Html.EditorFor(m => m.Size10Caption, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", placeholder = "Size 10 Caption" } })
        @Html.ValidationMessageFor(m => m.Size10Caption, "", new { @class = "text-danger" })
    </div>
    <div class='@captionDivClass' style="margin-left:-15px;">
        @Html.EditorFor(m => m.Size11Caption, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", placeholder = "Size 11 Caption" } })
        @Html.ValidationMessageFor(m => m.Size11Caption, "", new { @class = "text-danger" })
    </div>
    <div class='@captionDivClass' style="margin-left:-15px;">
        @Html.EditorFor(m => m.Size12Caption, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", placeholder = "Size 12 Caption" } })
        @Html.ValidationMessageFor(m => m.Size12Caption, "", new { @class = "text-danger" })
    </div>
</div>
@Html.HiddenFor(model => model.Size1CaptionId)
@Html.HiddenFor(model => model.Size2CaptionId)
@Html.HiddenFor(model => model.Size3CaptionId)
@Html.HiddenFor(model => model.Size4CaptionId)
@Html.HiddenFor(model => model.Size5CaptionId)
@Html.HiddenFor(model => model.Size6CaptionId)
@Html.HiddenFor(model => model.Size7CaptionId)
@Html.HiddenFor(model => model.Size8CaptionId)
@Html.HiddenFor(model => model.Size9CaptionId)
@Html.HiddenFor(model => model.Size10CaptionId)
@Html.HiddenFor(model => model.Size11CaptionId)
@Html.HiddenFor(model => model.Size12CaptionId)
