@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CriticalPath.Data.Resources
@model Process
@{
    ViewBag.Title = EntityStrings.Process;
}

<h2>@EntityStrings.Process @ActionStrings.Details</h2>

<div class="row">
    <label class="control-label col-md-2">
        @Html.DisplayNameFor(model => model.Title)
    </label>
    <div class="col-md-10">
        @Html.DisplayFor(m => m.Title)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2">
        @Html.DisplayNameFor(model => model.IsCompleted)
    </label>
    <div class="col-md-10">
        @Html.DisplayFor(m => m.IsCompleted)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2">
        @Html.DisplayNameFor(model => model.Description)
    </label>
    <div class="col-md-10">
        @Html.DisplayFor(m => m.Description)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2">
        @Html.DisplayNameFor(model => model.ProcessTemplate)
    </label>
    <div class="col-md-10">
        @Html.DisplayFor(m => m.ProcessTemplate)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2">
        @Html.DisplayNameFor(model => model.OrderItem)
    </label>
    <div class="col-md-10">
        @Html.DisplayFor(m => m.OrderItem)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2">
        @Html.DisplayNameFor(model => model.ProcessSteps)
    </label>
    <div class="col-md-10">
        @Html.DisplayFor(m => m.ProcessSteps)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2">
        @Html.DisplayNameFor(model => model.IsApproved)
    </label>
    <div class="col-md-10">
        @Html.DisplayFor(m => m.IsApproved)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2">
        @Html.DisplayNameFor(model => model.ApproveDate)
    </label>
    <div class="col-md-10">
        @Html.DisplayFor(m => m.ApproveDate)
    </div>
</div>
@Html.Partial("_DetailFormButtonsPartial")
