@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CP.i8n
@model IEnumerable<Process>
@{
    ViewBag.Title = @EntityStrings.Processes;

    //Authorization Flags
    bool canUserEdit = ViewBag.canUserEdit;
    bool canUserCreate = ViewBag.canUserCreate;
    bool canUserDelete = ViewBag.canUserDelete;
    bool canUserApprove = ViewBag.canUserApprove;

    //Records & Pager
    int page = ViewBag.page;
    int totalCount = ViewBag.totalCount;
    int pageSize = ViewBag.pageSize;
    int pageCount = ViewBag.pageCount;
}
<div class="row well">
    <div class="col-md-8 col-sm-7">
        <h4>@EntityStrings.Processes</h4>
    </div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "searchForm" }))
    {
        @Html.Hidden("page", page)
        @Html.Hidden("pageSize", pageSize)
        <div class="col-md-4 col-sm-5">
            @Html.Partial("_SearchBoxPartial")
        </div>
    }
</div>
@if (totalCount > 0)
{
    <table class="table table-hover">
        <tr>
            <th>@ActionStrings.Action</th>
            <th>@Html.DisplayNameFor(model => model.PurchaseOrder)</th>
            <th>@Html.DisplayNameFor(model => model.IsApproved)</th>
            <th>@Html.DisplayNameFor(model => model.TargetDate)</th>
            <th>@Html.DisplayNameFor(model => model.ForecastDate)</th>
            <th colspan="2">@Html.DisplayNameFor(model => model.IsCompleted)</th>
            <th>@Html.DisplayNameFor(model => model.Cancelled)</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="btn-group">
                        <button type="button" title="@ActionStrings.Action" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-tasks"></span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink(ActionStrings.Details, "Details", new { id = item.Id })</li>
                            @if (canUserEdit)
                            {
                                <li>@Html.ActionLink(ActionStrings.Edit, "Edit", new { id = item.Id })</li>
                            }
                            @if (canUserDelete)
                            {
                                <li>
                                    <a href="#deleteConfirm" data-toggle="modal" onclick="setDelete('<b>@(item.Title)</b>', @item.Id);">
                                        @ActionStrings.Delete
                                    </a>
                                </li>
                            }
                            <li class="divider"></li>
                            @if (!item.IsApproved && canUserApprove)
                            {
                                <li>@Html.ActionLink(ActionStrings.Approve, "Approve", new { id = item.Id })</li>
                            }
                            <li>@Html.ActionLink(EntityStrings.ProcessSteps, "Index", "ProcessSteps", new { processId = item.Id, pageSize = item.ProcessSteps.Count }, null)</li>
                        </ul>
                    </div>
                </td>
                <td>@Html.DisplayFor(modelItem => item.PurchaseOrder)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsApproved)
                    <span class="checkboxText">@Html.DisplayFor(modelItem => item.ApproveDate)</span>
                </td>
                <td align="right">@Html.DisplayFor(modelItem => item.TargetDate)</td>
                <td align="right">@Html.DisplayFor(modelItem => item.ForecastDate)</td>
                <td>@Html.DisplayFor(modelItem => item.IsCompleted)</td>
                <td align="right">@Html.DisplayFor(modelItem => item.RealizedDate)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cancelled)
                    <span class="checkboxText">@Html.DisplayFor(modelItem => item.CancelDate)</span>
                </td>
            </tr>
        }
    </table>
    @Html.Partial("_PagerPartial")
    if (canUserDelete)
    {
        @Html.Partial("_MessageBoxPartial")
    }
}
else
{
    <h4>@MessageStrings.NoResults!</h4>
}
@section scripts{
    @Html.Partial("_IndexScriptsPartial", "Processes")
}