@using CriticalPath.Data
@using CP.i8n
@model Product
@*    @model IAllPriceCurrency *@
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.UnitPrice)
    </label>
    <div class="col-md-10 col-sm-9">
        @Model.UnitPrice.ToString("0.00")
        @Html.DisplayFor(m => m.SellingCurrency)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.LicensorPrice)
    </label>
    <div class="col-md-10 col-sm-9">
        @(Model.LicensorPrice == null ? "N/A" : Model.BuyingPrice.Value.ToString("#.00"))
        @Html.DisplayFor(m => m.LicensorCurrency)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.BuyingPrice)
    </label>
    <div class="col-md-10 col-sm-9">
        @(Model.BuyingPrice == null ? "N/A" : Model.BuyingPrice.Value.ToString("#.00"))
        @Html.DisplayFor(m => m.BuyingCurrency)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.RoyaltyFee)
    </label>
    <div class="col-md-10 col-sm-9">
        @(Model.RoyaltyFee == null ? "N/A" : Model.RoyaltyFee.Value.ToString("#.00"))
        @Html.DisplayFor(m => m.RoyaltyCurrency)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.RetailPrice)
    </label>
    <div class="col-md-10 col-sm-9">
        @(Model.RetailPrice == null ? "N/A" : Model.RetailPrice.Value.ToString("#.00"))
        @Html.DisplayFor(m => m.RetailCurrency)
    </div>
</div>
