@using CriticalPath.Data.Resources
@using CriticalPath.Data
@model OrderItem
@{
    Layout = null;
}

<div class="form-group">
    @Html.Label(EntityStrings.ProductCategory, htmlAttributes: new { @class = "control-label col-lg-2 col-md-3 col-sm-3" })
    <div class="col-lg-2 col-md-3 col-sm-3">
        @Html.DropDownList("ParentCategoryId", null, ActionStrings.SelectPlease, htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="col-lg-3 col-md-3 col-sm-4">
        @Html.DropDownList("CategoryId", null, ActionStrings.SelectPlease, htmlAttributes: new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.ProductId, htmlAttributes: new { @class = "control-label col-lg-2 col-md-3 col-sm-3" })
    <div class="col-lg-5 col-md-6 col-sm-7">
        @Html.DropDownList("ProductId", null, ActionStrings.SelectPlease, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ProductId, "", new { @class = "text-danger" })
    </div>
</div>

<script type="text/javascript">
    var productSelect = $('#ProductId');

    function appendPleaseToSelect(targetSelect) {
        targetSelect.append($('<option/>', {
            value: '',
            text: '@ActionStrings.SelectPlease'
        }));
    }
    $('#ParentCategoryId').change(function () {
        var selectedId = $(this).val();
        if (selectedId != null && selectedId != '') {
            $.getJSON('/ProductCategories/SubCategories', { parentCategoryId: selectedId }, function (subCategories) {
                var targetSelect = $('#CategoryId');
                targetSelect.empty();
                productSelect.empty();
                appendPleaseToSelect(targetSelect);
                appendPleaseToSelect(productSelect);
                $.each(subCategories, function (index, subCategory) {
                    targetSelect.append($('<option/>', {
                        value: subCategory.Id,
                        text: subCategory.Title
                    }));
                });
            });
        }
    });
    $('#CategoryId').change(function () {
        var selectedId = $(this).val();
        if (selectedId != null && selectedId != '') {
            $.getJSON('/Products/Products', { categoryId: selectedId }, function (products) {
                productSelect.empty();
                appendPleaseToSelect(productSelect);
                $.each(products, function (index, product) {
                    productSelect.append($('<option/>', {
                        value: product.Id,
                        text: product.Title
                    }));
                });
            });
        }
    });
</script>