@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CriticalPath.Data.Resources
@model PurchaseOrderVM

@Html.Partial("_ProductSelectPartial")
<div class="form-group">
    @Html.LabelFor(model => model.SizingStandardId, htmlAttributes: new { @class = "control-label col-lg-2 col-md-3 col-sm-3" })
    <div class="col-lg-5 col-md-6 col-sm-7">
        @Html.DropDownList("SizingStandardId", null, ActionStrings.SelectPlease, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.SizingStandardId, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.SizeRates, htmlAttributes: new { @class = "control-label col-lg-2 col-md-3 col-sm-3" })
    <div class="col-lg-8 col-md-9 col-sm-9">
        <div class="col-xs-3 col-sm-2 col-md-1 pl0 mb5">
            @Html.EditorFor(m => m.Size1Caption, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", disabled = "true" } })
        </div>
        <div class="col-xs-3 col-sm-2 col-md-1 pl0 mb5">
            @Html.EditorFor(m => m.Size1Rate, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
        </div>
        <div class="col-xs-3 col-sm-2 col-md-1 pl0 mb5">
            @Html.EditorFor(m => m.Size2Caption, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", disabled = "true" } })
        </div>
        <div class="col-xs-3 col-sm-2 col-md-1 pl0 mb5">
            @Html.EditorFor(m => m.Size2Rate, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
        </div>
        <div class="col-xs-3 col-sm-2 col-md-1 pl0 mb5">
            @Html.EditorFor(m => m.Size3Caption, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", disabled = "true" } })
        </div>
        <div class="col-xs-3 col-sm-2 col-md-1 pl0 mb5">
            @Html.EditorFor(m => m.Size3Rate, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
        </div>
        <div class="col-xs-3 col-sm-2 col-md-1 pl0 mb5">
            @Html.EditorFor(m => m.Size4Caption, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", disabled = "true" } })
        </div>
        <div class="col-xs-3 col-sm-2 col-md-1 pl0 mb5">
            @Html.EditorFor(m => m.Size4Rate, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
        </div>
        <div class="col-md-4 mt30 visible-lg visible-md">&nbsp;</div>
        <div class="col-xs-3 col-sm-2 col-md-1 pl0 mb5">
            @Html.EditorFor(m => m.Size5Caption, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", disabled = "true" } })
        </div>
        <div class="col-xs-3 col-sm-2 col-md-1 pl0 mb5">
            @Html.EditorFor(m => m.Size5Rate, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
        </div>
        <div class="col-xs-3 col-sm-2 col-md-1 pl0 mb5">
            @Html.EditorFor(m => m.Size6Caption, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", disabled = "true" } })
        </div>
        <div class="col-xs-3 col-sm-2 col-md-1 pl0 mb5">
            @Html.EditorFor(m => m.Size6Rate, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
        </div>
        <div class="col-xs-3 col-sm-2 col-md-1 pl0 mb5">
            @Html.EditorFor(m => m.Size7Caption, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", disabled = "true" } })
        </div>
        <div class="col-xs-3 col-sm-2 col-md-1 pl0 mb5">
            @Html.EditorFor(m => m.Size7Rate, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
        </div>
        <div class="col-xs-3 col-sm-2 col-md-1 pl0 mb5">
            @Html.EditorFor(m => m.Size8Caption, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", disabled = "true" } })
        </div>
        <div class="col-xs-3 col-sm-2 col-md-1 pl0 mb5">
            @Html.EditorFor(m => m.Size8Rate, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
        </div>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.SizeRateDivisor, htmlAttributes: new { @class = "control-label col-lg-2 col-md-3 col-sm-3" })
    <div class="col-lg-5 col-md-6 col-sm-7">
        <div class="col-md-2 col-sm-3 pl0">
            @Html.EditorFor(m => m.SizeRateDivisor, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", disabled = "true" } })
        </div>
        @Html.ValidationMessageFor(m => m.SizeRateDivisor, "", new { @class = "text-danger" })
    </div>
</div>
<script type="text/javascript">
    var productSelect = $('#ProductId');
    var productList = [];

    function setSizingStandard(standardId) {
        var sizingSelect = $('#SizingStandardId');
        if (sizingSelect != null) {
            $("#SizingStandardId > option").each(function () {
                if (this.value == standardId) {
                    $(this).prop('selected', true);
                }
                else {
                    $(this).prop('selected', false);
                }
            });
        }
    }
    productSelect.change(function () {
        var selectedId = $(this).val();
        if (selectedId != null && selectedId != '') {
            $.each(productList, function (index, product) {
                if (selectedId == product.Id) {
                    setSizingStandard(product.SizingStandardId);
                }
            });
        }
    });

    function calculateDivisor() {
        var divisor = parseInt($('#Size1Rate').val()) +
                        parseInt($('#Size2Rate').val()) +
                        parseInt($('#Size3Rate').val()) +
                        parseInt($('#Size4Rate').val()) +
                        parseInt($('#Size5Rate').val()) +
                        parseInt($('#Size6Rate').val()) +
                        parseInt($('#Size7Rate').val()) +
                        parseInt($('#Size8Rate').val());

        $('#SizeRateDivisor').val(divisor);
    }
    $('#Size1Rate').on('keydown', numbersOnly);
    $('#Size2Rate').on('keydown', numbersOnly);
    $('#Size3Rate').on('keydown', numbersOnly);
    $('#Size4Rate').on('keydown', numbersOnly);
    $('#Size5Rate').on('keydown', numbersOnly);
    $('#Size6Rate').on('keydown', numbersOnly);
    $('#Size7Rate').on('keydown', numbersOnly);
    $('#Size8Rate').on('keydown', numbersOnly);

    $('#Size1Rate').on('keyup', calculateDivisor);
    $('#Size2Rate').on('keyup', calculateDivisor);
    $('#Size3Rate').on('keyup', calculateDivisor);
    $('#Size4Rate').on('keyup', calculateDivisor);
    $('#Size5Rate').on('keyup', calculateDivisor);
    $('#Size6Rate').on('keyup', calculateDivisor);
    $('#Size7Rate').on('keyup', calculateDivisor);
    $('#Size8Rate').on('keyup', calculateDivisor);
</script>