@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CP.i8n
@model Supplier
@{
    ViewBag.Title = EntityStrings.Supplier;

    //Authorization Flags
    bool canUserEdit = ViewBag.canUserEdit;
    bool canUserCreate = ViewBag.canUserCreate;
    bool canUserDelete = ViewBag.canUserDelete;
}

<h2>@EntityStrings.Supplier @ActionStrings.Details</h2>

<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.CompanyName)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.CompanyName)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.Phone1)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.Phone1)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.Phone2)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.Phone2)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.Phone3)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.Phone3)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.SupplierCode)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.SupplierCode)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.Capacity)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.Capacity)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.Manufacturers)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.Manufacturers)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.Address1)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.Address1)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.Address2)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.Address2)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.Country)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.Country)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.City)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.City)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.State)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.State)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.ZipCode)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.ZipCode)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.Notes)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.Notes)
    </div>
</div>
@if (Model.Discontinued)
{
    <div class="row">
        <label class="control-label col-md-2 col-sm-3">
            @Html.DisplayNameFor(model => model.Discontinued)
        </label>
        <div class="col-md-10 col-sm-9">
            @Html.DisplayFor(m => m.Discontinued)
        </div>
    </div>
    <div class="row">
        <label class="control-label col-md-2 col-sm-3">
            @Html.DisplayNameFor(model => model.DiscontinueDate)
        </label>
        <div class="col-md-10 col-sm-9">
            @Html.DisplayFor(m => m.DiscontinueDate)
        </div>
    </div>
    <div class="row">
        <label class="control-label col-md-2 col-sm-3">
            @Html.DisplayNameFor(model => model.DiscontinueNotes)
        </label>
        <div class="col-md-10 col-sm-9">
            @Html.DisplayFor(m => m.DiscontinueNotes)
        </div>
    </div>
    <div class="row">
        <label class="control-label col-md-2 col-sm-3">
            @Html.DisplayNameFor(model => model.DiscontinuedUser)
        </label>
        <div class="col-md-4 col-sm-4">
            @Html.DisplayFor(m => m.DiscontinuedUser)
        </div>
        <div class="col-md-4 col-sm-4">
            @Html.DisplayFor(m => m.DiscontinuedUserIp)
        </div>
    </div>
}
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.ModifiedUser)
    </label>
    <div class="col-md-4 col-sm-4">
        @Html.DisplayFor(m => m.ModifiedUser)
    </div>
    <div class="col-md-4 col-sm-4">
        @Html.DisplayFor(m => m.ModifierIp)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.CreatedUser)
    </label>
    <div class="col-md-4 col-sm-4">
        @Html.DisplayFor(m => m.CreatedUser)
    </div>
    <div class="col-md-4 col-sm-4">
        @Html.DisplayFor(m => m.CreatorIp)
    </div>
</div>
@Html.Partial("_DetailFormButtonsPartial")
