@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CriticalPath.Data.Resources
@model SizingStandard
@{
    ViewBag.Title = EntityStrings.SizingStandard;
}

<h2>@EntityStrings.SizingStandard @ActionStrings.Details</h2>

<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.Title)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.Title)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.Sizings)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.Sizings)
    </div>
</div>
@Html.Partial("_DetailFormButtonsPartial")
