@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CP.i8n
@model EmployeeDTO
@{
    ViewBag.Title = EntityStrings.Employee;

    //Authorization Flags
    bool canUserEdit = ViewBag.canUserEdit;
    bool canUserCreate = ViewBag.canUserCreate;
    bool canUserDelete = ViewBag.canUserDelete;
}

<h2>@EntityStrings.Employee @ActionStrings.Details</h2>

<div class="form-horizontal mb20">
    @if (!Model.IsActive)
    { <div class="row text-danger mb20">
        <label class="control-label col-md-2 col-sm-3 mb5">
            @Html.DisplayNameFor(model => model.InactivateDate)
        </label>
        <div class="col-lg-8 col-md-9 col-sm-9 mt10 fontSize125pc">
            @Html.DisplayFor(m => m.InactivateDate)
        </div>
    </div>
    }

    <div class="row mb5">
        <label class="control-label col-md-2 col-sm-3 mb5">
            @Html.DisplayNameFor(model => model.UserName)
        </label>
        <div class="col-lg-8 col-md-9 col-sm-9 mt10">
            @Html.DisplayFor(m => m.UserName)
        </div>
    </div>
    <div class="row mb5">
        <label class="control-label col-md-2 col-sm-3 mb5">
            @Html.DisplayNameFor(model => model.FirstName)
        </label>
        <div class="col-lg-8 col-md-9 col-sm-9 mt10">
            @Html.DisplayFor(m => m.FirstName)
        </div>
    </div>
    <div class="row mb5">
        <label class="control-label col-md-2 col-sm-3 mb5">
            @Html.DisplayNameFor(model => model.LastName)
        </label>
        <div class="col-lg-8 col-md-9 col-sm-9 mt10">
            @Html.DisplayFor(m => m.LastName)
        </div>
    </div>

    <div class="row mb5">
        <label class="control-label col-md-2 col-sm-3 mb5">
            @Html.DisplayNameFor(model => model.Position)
        </label>
        <div class="col-lg-8 col-md-9 col-sm-9 mt10">
            @Html.DisplayFor(m => m.Position)
        </div>
    </div>
    <div class="row mb5">
        <label class="control-label col-md-2 col-sm-3 mb5">
            @Html.DisplayNameFor(model => model.Email)
        </label>
        <div class="col-lg-8 col-md-9 col-sm-9 mt10">
            @Html.DisplayFor(m => m.Email)
        </div>
    </div>
    <div class="row mb5">
        <label class="control-label col-md-2 col-sm-3 mb5">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </label>
        <div class="col-lg-8 col-md-9 col-sm-9 mt10">
            @Html.DisplayFor(m => m.PhoneNumber)
        </div>
    </div>
</div>
@Html.Partial("_DetailFormButtonsPartial")
