@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CP.i8n
@model EmployeeDTO
@{
    ViewBag.Title = EntityStrings.Employee;

    //Authorization Flags
    bool canUserEdit = ViewBag.canUserEdit;
    bool canUserCreate = ViewBag.canUserCreate;
    bool canUserDelete = ViewBag.canUserDelete;
}

<h2>@EntityStrings.Employee @ActionStrings.Details</h2>

@if (!Model.IsActive)
{ <div class="row text-danger mb20">
        <label class="col-md-2 col-sm-3 text-right fontWeigthBold">
            @Html.DisplayNameFor(model => model.InactivateDate)
        </label>
        <div class="col-md-10 col-sm-9 fontSize125pc">
            @Html.DisplayFor(m => m.InactivateDate)
        </div>
    </div>
}

<div class="row mb10">
    <div class="col-md-2 col-sm-3 text-right fontWeigthBold">
        @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.UserName)
    </div>
</div>
<div class="row mb10">
    <div class="col-md-2 col-sm-3 text-right fontWeigthBold">
        @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.FirstName)
    </div>
</div>
<div class="row mb10">
    <div class="col-md-2 col-sm-3 text-right fontWeigthBold">
        @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.LastName)
    </div>
</div>
<div class="row mb10">
    <div class="col-md-2 col-sm-3 text-right fontWeigthBold">
        @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.Email)
    </div>
</div>
<div class="row mb10">
    <div class="col-md-2 col-sm-3 text-right fontWeigthBold">
        @Html.DisplayNameFor(model => model.PhoneNumber)
    </div>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.PhoneNumber)
    </div>
</div>

@Html.Partial("_DetailFormButtonsPartial")
