@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CriticalPath.Data.Resources
@model ProcessStepTemplate
@{
    ViewBag.Title = EntityStrings.ProcessStepTemplate;
}

<h2>@EntityStrings.ProcessStepTemplate @ActionStrings.Details</h2>

<div class="row">
    <label class="control-label col-md-2">
        @Html.DisplayNameFor(model => model.Title)
    </label>
    <div class="col-md-10">
        @Html.DisplayFor(m => m.Title)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2">
        @Html.DisplayNameFor(model => model.DisplayOrder)
    </label>
    <div class="col-md-10">
        @Html.DisplayFor(m => m.DisplayOrder)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2">
        @Html.DisplayNameFor(model => model.ProcessTemplate)
    </label>
    <div class="col-md-10">
        @Html.DisplayFor(m => m.ProcessTemplate)
    </div>
</div>
@Html.Partial("_DetailFormButtonsPartial")
