@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CP.i8n
@model Customer
@{
    ViewBag.Title = EntityStrings.Customer;
}

<h2>@EntityStrings.Customer @ActionStrings.Details</h2>

<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.CompanyName)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.CompanyName)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.CustomerCode)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.CustomerCode)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.Phone1)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.Phone1)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.Phone2)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.Phone2)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.Phone3)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.Phone3)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.Address1)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.Address1)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.Address2)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.Address2)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.City)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.City)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.State)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.State)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.ZipCode)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.ZipCode)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.Country)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.Country)
    </div>
</div>
<div class="row">
    <label class="control-label col-md-2 col-sm-3">
        @Html.DisplayNameFor(model => model.Notes)
    </label>
    <div class="col-md-10 col-sm-9">
        @Html.DisplayFor(m => m.Notes)
    </div>
</div>
@Html.Partial("_DetailFormButtonsPartial")
